<div class="row">
  <div class="col-sx-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        *ngFor="let ingredient of ingredients, let i=index"
         style="cursor: pointer"
        (click)="onEditItem(i)">
        {{ingredient.name}}
        <span
          style="font-weight: 800;
          color: red;
          font-size: 110%;">
         ({{ingredient.amount}})
        </span>
      </a>
    </ul>
  </div>
</div>
